@charset "UTF-8";
/* Desafíos Styles Import */
/* Base */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif; }

.desafio-header {
  margin: 0;
  padding-top: 2rem;
  border-bottom: 1px dashed palevioletred; }
  .desafio-header h1 {
    text-align: center;
    margin: 2rem 0 5rem 0;
    color: palevioletred; }
  .desafio-header a {
    margin: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: rebeccapurple;
    border: 1px solid rebeccapurple; }
    .desafio-header a:hover {
      background-color: rebeccapurple;
      color: white; }

/* Index Styles */
.home-header {
  margin: 10rem 0rem; }
  .home-header h1 {
    color: dimgrey;
    text-align: center; }
  .home-header h2 {
    color: gray;
    text-align: center; }

.home-main {
  width: 606px;
  margin: auto;
  position: relative;
  background-color: white; }
  .home-main .home-btn {
    padding: 4rem;
    box-sizing: border-box;
    width: 200px;
    height: 160px;
    background-color: yellowgreen;
    float: left;
    text-align: center;
    border: 1px solid white;
    color: #0c3804; }
    .home-main .home-btn:hover {
      background-color: rgba(153, 205, 50, 0.514); }

/* Desafío_1 Styles */
.navbar {
  background-color: green;
  padding: 5px; }
  .navbar p {
    line-height: 1.5;
    text-align: left; }

.main {
  margin: 5px;
  height: auto;
  position: absolute; }
  .main p {
    line-height: 1.5;
    text-align: left; }

.box {
  height: auto;
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 5px;
  text-align: center; }

/* Desafío_2 Styles */
.content__square {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 600px; }
  .content__square span {
    position: absolute;
    left: 15rem;
    margin: 6rem;
    font-size: 1.8rem; }
  .content__square .square {
    height: 200px;
    width: 200px; }
    .content__square .square__red {
      background-color: rgba(255, 0, 0, 0.5); }
    .content__square .square__green {
      background-color: rgba(0, 255, 0, 0.5);
      left: 25px;
      position: absolute;
      top: 25px; }
    .content__square .square__blue {
      background-color: rgba(0, 0, 255, 0.5);
      left: 50px;
      position: absolute;
      top: 50px; }
    .content__square .square.detras {
      z-index: 1; }
    .content__square .square.medio {
      z-index: 2; }
    .content__square .square.delante {
      z-index: 3;
      position: absolute; }

/* Desafío_3 Styles */
.contenedor-banderas {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 800px; }
  .contenedor-banderas .bandera {
    width: 330px;
    height: 214px;
    position: relative;
    display: inline-block;
    margin: 3rem 1rem;
    border: 1px solid gray;
    /* España */
    /* Dinamarca */
    /* Emiratos Árabes */
    /* Japón */ }
    .contenedor-banderas .bandera__nombre {
      margin: 2rem 0;
      text-align: center;
      font-size: 1.8rem; }
    .contenedor-banderas .bandera__esp-rojo {
      background-color: red;
      height: 60px;
      width: 100%; }
    .contenedor-banderas .bandera__esp-amarillo {
      background-color: #ffe600;
      height: 94px;
      width: 100%; }
    .contenedor-banderas .bandera__din-rojo {
      height: 94px;
      background-color: red;
      width: 100%;
      position: relative; }
      .contenedor-banderas .bandera__din-rojo .blanco-vertical {
        background-color: white;
        width: 26px;
        position: absolute;
        z-index: 2;
        height: 100%;
        left: 94px; }
    .contenedor-banderas .bandera__din-centro {
      background-color: white;
      width: 100%;
      height: 26px;
      position: relative; }
    .contenedor-banderas .bandera__ea-vertical {
      width: 80px;
      height: 100%;
      position: absolute;
      background-color: red;
      z-index: 2; }
    .contenedor-banderas .bandera__ea-horizontal {
      height: 71px;
      width: 100%;
      position: relative; }
      .contenedor-banderas .bandera__ea-horizontal.verde {
        background-color: green; }
      .contenedor-banderas .bandera__ea-horizontal.blanco {
        background-color: white;
        height: 72px; }
      .contenedor-banderas .bandera__ea-horizontal.negro {
        background-color: black; }
    .contenedor-banderas .bandera__jap-blanco {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: white; }
    .contenedor-banderas .bandera__jap-rojo {
      width: 100px;
      height: 100px;
      position: absolute;
      background-color: red;
      border-radius: 100%;
      left: calc(50% - 50px);
      top: calc(50% - 50px); }

/* Desafío_4 Styles */
.desafio4-main {
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .desafio4-main .main {
    background-color: #B0CCAB;
    padding: 50px; }
    .desafio4-main .main__paragraph {
      left: 40px;
      position: relative; }

/* Desafío_5 Styles */
.ribbon-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto; }
  .ribbon-content img {
    position: absolute; }
    .ribbon-content img.ribbon {
      z-index: 2; }

/* Desafío_6 Styles */
.ribbon-despacho {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 258px; }
  .ribbon-despacho img {
    position: absolute; }
    .ribbon-despacho img.ribbon-icono {
      z-index: 2;
      position: absolute;
      right: 13px;
      bottom: 59px;
      width: 53px;
      height: 48px; }

/* Desafío_7 Styles */
/* Desafío_8 Styles */
/* Desafío_9 Styles */

/*# sourceMappingURL=main.css.map */
